parameters:
  tmpDir: var/phpstan
  level: 6
  paths:
    - src
    - tests
    - migrations
  ignoreErrors:
    -
      identifier: property.unusedType
      path: src/Entity/CartEntity.php
      count: 1
    -
      identifier: property.unusedType
      path: src/Entity/CartAdjustmentEntity.php
      count: 1
    -
      identifier: property.unusedType
      path: src/Entity/CartCheckoutHandoffEntity.php
      count: 1
    -
      identifier: property.unusedType
      path: src/Entity/CartItemEntity.php
      count: 1
